@{
    Layout = "MasterPage";
    ViewBag.Title = "Cadastro de Usuarios";
} 

<h1>Bem vindo</h1>

<form action="/Usuario/Cadastrar" method="POST">
    <label>
        Nome
        <input type="text" name="nome">
    </label>
    <label>
        Email
        <input type="text" name="email">
    </label>
    <label>
        Senha
         <input type="text" name="senha">
    </label>
    <label>
        Data de Nascimento
        <input type="date" name="datanascimento">
    </label>
    <input type="submit" value="Cadastrar">
</form>