@model PontoDigital.ViewModels.CadastroViewModel
@{
        ViewData["Title"] = "Admin - PontoDigital";
    }

    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
    </header>
<main id="dashboard"> 
        <table>
            <thead>
                <tr>
                    <th>Lista de últimos depoimentos</th>
                    <th>Lista de últimos usuários cadastrados</th>
                    <th>Quantidade de usuários cadastrados</th>
                    <th>Quantidade de depoimentos</th>
                    <th>Quantidade de depoimentos aprovados</th>
                    <th>Quantidade de depoimentos reprovados</th>
                <tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
</main>