@model TsukarMVC.ViewModels.CadastroViewModel

<main>
        <h2>Cadastra aí, jovem!</h2>
        <form method="POST" action="Cadastro">
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome" />
            </div>

            <div>
                <label for="modelo">Modelo do carro</label>
                <br />
                <input id="modelo" type="text" maxlength="20" minlength="3" name="modelo" />
            </div>

            <div>
                <label for="marca">Marca do carro</label> 
                <br />
                <input id="marca" type="text" name="marca"/>
            </div>

            <div>
                <label for="plca">Placa</label>
                <br />
                <input id="placa" type="text" name="placa"/>
            </div>

            <div class="double-field">
                <div>
                    <label for="carro">Carro</label>
                    <select id="carro" name="carro" >
                        <option value="" disabled selected>Selecione</option>
                        

                    </select>
                </div>
                <div>
                    <label for="moto">Moto</label>
                    <select id="moto" name="moto">
                        <option value="" disabled selected>Selecione</option>
                        
                    </select>
                </div>
            </div>
            <input type="submit" value="Finalizar cadastro!" />
        </form>

    </main>