@model TsukarMVC.ViewModels.CadastroViewModel



<main>
        <h2>Cadastra aí, jovem!</h2>
        <form method="POST" action="Cadastro/Cadastrar">
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome" />
            </div>

            <div>
                <label for="endereco">Endereço</label>
                <br />
                <input id="endereco" type="text" maxlength="20" minlength="3" name="endereco" />
            </div>

            <div>
                <label for="telefone">Telefone para contato</label>
                <br />
                <input id="telefone" type="text" name="telefone"/>
            </div>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email"/>
            </div>

            <div class="double-field">
                <div>
                    <label for="carro">Carro</label>
                    <select id="carro" name="carro" required>
                        <option value="" disabled selected>Selecione</option>
                        @foreach (var carro in Model.Carros)
                        {
                            <option value=@carro.Modelo>@carro.Modelo</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="moto">Moto</label>
                    <select id="moto" name="moto">
                        <option value="" disabled selected>Selecione</option>
                        @foreach (var moto in Model.Motos)
                        {
                            <option value=@moto.Modelo>@moto.Modelo</option>
                        }
                    </select>
                </div>
            </div>
            <input type="submit" value="Finalizar cadastro!" />
        </form>

    </main>