@{
    ViewData["Title"] = "Cadastro - PontoDigital";
}

<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header> 

<main id="cada">
    <div id="cadastro">

        <form method="POST" action='@Url.Action("Cadastrar", "Cadastro")'>
            <div>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome" placeholder="Nome"/>
                 <br />
            </div>

            <div>
                
                <br />
                <input id="email" type="email" name="email" placeholder="Email"/>
                 <br />
            </div>

             <div>
                <br />
                <input id="senha" type="password" name="senha" placeholder="Senha"/>
                 <br />
            </div>

            <div>
                <br />
                <input id="confirmar-senha" type="password" placeholder="Confirme a Senha"/>
                <br />
            </div>

            <div>
                <label for="data-nascimento">Data de Nascimento</label>
                <br />
                <input id="data-nascimento" type="date" name="data-nascimento"/>

            </div>

            <div id="btn_cadastrar">
            <input type="submit" value="Cadastrar" />
            </div>
            
        </form>
    </div>

    </main>