<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    <div id="logoarea">
        <span id="btn_menu" class="botao_menu">M</span>
            <div class="logo">
                <img src="img/LogoPD.png" alt="Logo do Ponto Digital">   
        </div>
    </div>
</header>
    <main class="conteudo_geral">
        <section id="planos">
            <h1>
                Planos
            </h1>
            <br>
                <div class="plans">
    
                    <h2>
                        Adquira o seu!
                    </h2>
                    <br>

                    <h3>Plano 01</h3>
                    <P>R$29,99</P>
                
                    <br>
                    <h3>Plano 02</h3>
                    <p>R$150,00</p>
                    <br>
                    <h3>Plano 03</h3>
                    <p>R$300,00</p>
                    <br>
                    
                </div>
                <div class="celular">

                    <img src="img/CelularMao.png">
                </div>
                <div class="grafico">

                    <img src="img/Planos.png" alt="Planos Comparativos">
                </div>
            <article class="product">
                <br>
                <p>Produto em formato de aplicativo,
                que busca substituir o metodo antigo de passar o cartão como funcionalidade por meio de aplicativos.</p>
            </article>
            <article class="app">
                <p>
                    Aplicativo inovador que ira substituir o velho metodo de passar ponto. Ao contrário da crença popular, não é simplesmente um texto. 
                </p>
            </article>
        </section>
        <section id="mais">

            <h2>Mais</h2>

            <article>
                <div class="crello">

                    <img src="img/Crello.png" alt="Outros Produtos da AgoraVai">
                </div>
                <br>
                <p>Aqui também podemodemos outros projeos da Agora Vai conhecido como Crello um sistema de Kanban, é també temos o YouFacebook, uma rede social para quem busca empregos ou Facebook profissional.</p>
            </article>
            <form action="" method="post">

                <input type="text" name="nome" placeholder="Nome" maxlength="50" required  class="form-control">
                <br>
                <input type="email" name="email_client" placeholder="Email" maxlength="30" required  class="form-control">
                <br>
                <input type="telefone" name="telefone" placeholder="Celular" maxlength="15"  class="form-control">
                <br>
                <input type="cpf" name="cpf" placeholder="CPF" maxlength="30" class="form-control">
                <br>
                <label for="comentario">Deixe seu comentário aqui</label>
                <br>
                <textarea name="comentário" rows="10" cols="40"></textarea>
                <br> 
                <label for="comentario">Outros comentários</label>
                <br>
                <textarea name="comentário" rows="10" cols="40" placeholder="Adorei o site, super facil de econtrar oque eu quero com um design profissional, empresa atenciosa, utilizo o aplicativo todo dia, pois gerencio minha empresa de casa adorei a ideia.
                                                                                                        -Carlos Jorge" disabled selected></textarea>
                <br>
                <input type="submit" value="Enviar" class="btn btn-primary btn-lg"> 
            </form>

        

        </section>
        <section id="sobre">

            <h2>Sobre</h2>
            <div class="caras">
                <img src="img/CT.png" alt="Caras Trabalhando">
            </div>
            <div class="linha">
                <img src="img/LinhadoTempo.png" alt="Linha do Tempo">
            </div>
                        <article>
                            <p>A Agora Vai é uma empresa de pqueno porte criado por Cesar Tsukamoto, é uma empresa produtora de Softwares e sistemas de Ponto Digital que busca acabar com o problema do Homeoffice. É uma empresa que busca crescimento no Mercado Internacional.</p>
                        </article>
        </section>
        <section id="contato">

            <h2>Contato e Localização</h2>
            <div class="adress">
                <br>
                <br>
                <strong>(11) 4002-8922</strong>
                <br>
                <br>
                <strong>PontoDigitalCheckPoint@gmail.com</strong>
                
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1487821350556!2d-46.656571184475936!3d-23.56309936754285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552310161575" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
            
            <h4>Redes Sociais</h4>
            <div class="imagens">

                <img src="img/twitter.png" alt="Passarinho Azul">



                <img src="img/facebook.png" alt="Facebook">
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(function() {
        var nav = $('.menu');
        var botao = $('.botao_menu');
        botao.on('click',function(){
             nav.toggleClass("active");
        });
        });
    </script>