    @{
        ViewData["Title"] = "Depoimento - PontoDigital";
    }

    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
    </header> 

    <main id="depoimento">

    <form method="POST" action='@Url.Action("Comentar", "Depoimento")'>
    <div>
        <br />
        <input id="nome" type="text" maxlength="20" minlength="3" name="nome" placeholder="Nome"/>
        <br />
    </div>

    <div>
        <br />
        <label for="depoimento">Deixe seu Depoimento aqui</label>
        <br />
        <textarea name="depoimento" rows="10" cols="40"></textarea>
        <br />
    </div>
    <br />
    <input type="submit" value="Comentar" />
    <br />
    </form>

    </main>