<head>
     <link href="~/css/style-login-flex.css" rel="stylesheet" type="text/css">
</head>

    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
    </header>

    <main id="falha">
        <h2>@ViewData["Action"] não foi completado!</h2>
    </main>


