<nav>
        <div class="section-container">
            <ul>
                <li><a asp-controller="Home" asp-ction="Index" class="active">Principal</a></li>
                <li><a id="bt-cadastro" asp-controller="Pedido" asp-action="Index">Cadastro</a></li>
                <li><a href='@Url.Action("Index", "Home")#shakes'>Banco de Dados</a></li>
            </ul>
        </div>
    </nav>

     