*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
}

#login {
    text-align: center;
    margin-top: 300px;
    font-size: 1.8em;
}

#login input{
    width: 500px;
    height: 25px;

}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ff9933;
    font-size: 1.3em;
    height: 2.5em;
    align-items: center;
    width: 1300px;
    margin-left: 350px;
    border-radius: 100px;
    margin-top: 50px;
    position: absolute;

}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 0.65em 3em;
}

nav a:hover{
    background-color: #ff9933de;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

#cadastro {
    align-items: center;
    margin-top: 250px;
    position: absolute;
    text-align: center;
    display: flex;
    color: black;
    justify-content: space-between;
    margin-left: -400px;
    width: 100%;
    
}

#rodape{
    position: absolute;
    background-color:  #005eb9; 

    width: 100%;
    height: 120px;
    color: #fff;
    text-align: center;
    font-size: 1.8em;
}

#rodape address{
    margin-top: 5px;
    align-content: center;
}

main {
    background-color: tomato;
    height: 849px;
    width: 100%;
}

#sucesso h2{
    margin-top: 450px;
    position: absolute;
    margin-left: 830px;
}

.login {
    position: absolute;
    margin-top: 350px;
    margin-left: 700px;
    text-align: center;
}

.login input{
    width: 500px;
    height: 35px;
    text-align: center;
    font-size: 1em;
}

#falha h2{
    margin-top: 500px;
    position: absolute;
    margin-left: 830px;
}

#depoimento form{
    margin-top: 275px;
    position: absolute;
    margin-left: 800px;
}
