*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#login {
    text-align: center;
    margin-top: 300px;
    font-size: 1.8em;
}

#login input{
    width: 500px;
    height: 25px;

}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ff9933;
    font-size: 1.3em;
    height: 2.5em;
    align-items: center;
    width: 1300px;
    margin-left: 425px;
    border-radius: 100px;
    margin-top: 50px;
    position: absolute;

}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 0.65em 3em;
}

nav a:hover{
    background-color: #ff9933de;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

#cadastro {
    align-items: center;
    margin-top: 300px;
    position: absolute;
    text-align: center;
    display: flex;
    
}

#rodape{
    position: absolute;
    margin-top: 849px;
    width: 100%;
}

